
<style>
  category_atag {
  	max-width : 100%,
    padding-left 20px, 
    padding-right 20px; 
  }
</style>

<!--
  The Side Bar
-->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" class="mx-auto">
        {% if site.avatar != empty and site.avatar %}
          {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
          <img src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'">
        {% endif %}
      </a>
    </div>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>

  </div><!-- .profile-wrapper -->

  <ul class="w-100">

    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">

        <!-- icon의 maring을 조절 -->
        <!-- <i class="fa-fw fas fa-home ml-xl-3 mr-xl-3 unloaded"></i> -->
        <i class="fa-fw fas fa-home  mr-xl-1 unloaded"></i>

        <span>{{ site.data.locales[site.lang].tabs.home | upcase }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% for tab in site.tabs %}
    <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
      <a href="{{ tab.url | relative_url }}" class="nav-link">
        
        <!-- icon의 maring을 조절 -->
        <!-- <i class="fa-fw {{ tab.icon }} ml-xl-3 mr-xl-3 unloaded"></i> -->
        <i class="fa-fw {{ tab.icon }} mr-xl-1 unloaded"></i>

        {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

        <span>{{ site.data.locales[site.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
      </a>
    </li> <!-- .nav-item -->
    {% endfor %}
    

    <!-- test -->
  {% assign HEAD_PREFIX = "h_" %}
  {% assign LIST_PREFIX = "l_" %}

  {% assign group_index = 0 %}

  {% assign sort_categories = site.categories | sort %}

  {% for category in sort_categories %}
    {% assign category_name = category | first %}
    {% assign posts_of_category = category | last %}
    {% assign first_post = posts_of_category | first %}

    {% if category_name == first_post.categories[0] %}
      {% assign sub_categories = "" | split: "" %}

      {% for post in posts_of_category %}
        {% assign second_category = post.categories[1] %}
        {% if second_category %}
          {% unless sub_categories contains second_category %}
            {% assign sub_categories = sub_categories | push: second_category %}
          {% endunless %}
        {% endif %}
      {% endfor %}

      {% assign sub_categories = sub_categories | sort %}
      {% assign sub_categories_size = sub_categories | size %}
      <li style="list-style: none;" class="nav-item">
       
        <!-- 대분류카테고리명 & 링크 -->
        {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _category_url | relative_url }}" class="nav-link">
            <!-- 폴더아이콘 -->
            <i class="far fa-folder{% if sub_categories_size > 0 %}-open{% endif %} fa-fw mr-xl-1"></i>
            <!-- 카테고리명 -->
            {{ category_name }}
            <!-- 대분류카테고리 포스트 개수 -->
            {% assign top_posts_size = site.categories[category_name] | size %}
            <span>
             ({{ top_posts_size }})
            </span>
          </a>
      </li>
        
        <!-- 중분류카테고리존재시 -->
        {% if sub_categories_size > 0 %}
        <!-- <ul style="height : auto" class="ml-2"> -->
          <!-- 중분류 카테고리명 & 링크 -->
          {% for sub_category in sub_categories %}
          <li style="list-style: none;" class="nav-item ml-2">
            {% capture _sub_ctg_url %}/categories/{{ sub_category | slugify | url_encode }}/{% endcapture %}
            <a href="{{ _sub_ctg_url | relative_url }}" class="nav-link">
              <!-- 폴더아이콘 -->
              <i class="far fa-folder fa-fw mr-xl-1"></i>
              <!-- 카테고리명 -->
              {{ sub_category }}
              <!-- 중분류 포스트 개수 -->
              {% assign posts_size = site.categories[sub_category] | size %}
              <span>
                ({{ posts_size }})
              </span>
            </a>
          </li>
          {% endfor %}
        <!-- </ul> -->
        {% endif %}
      

    {% endif %}
  {% endfor %}

  <!-- 낱개 테스트 -->
  <!-- <li style="list-style: none;">
    <a href="/categories/데이터사이언스" class="nav-link">
      데이터사이언스
      <span> (8) </span>
    </a>
    <ul>
      <li style="list-style: none;">
        <a href="/categories/데이터분석" class="nav-link ml-5">
          데이터분석
          <span>
            (1)
          </span>
        </a>
      </li>
    </ul>
  </li> -->


  </ul> <!-- ul.nav.flex-column -->



  
  <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center">

    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% capture url %}
        {%- if entry.type == 'github' -%}
          https://github.com/{{ site.github.username }}
        {%- elsif entry.type == 'twitter' -%}
          https://twitter.com/{{ site.twitter.username }}
        {%- elsif entry.type == 'email' -%}
          {% assign email = site.social.email | split: '@' %}
          javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
        {%- elsif entry.type == 'rss' -%}
          {{ "/feed.xml" | relative_url }}
        {%- else -%}
          {{ entry.url }}
        {%- endif -%}
      {% endcapture %}

      {% if url %}
      <a href="{{ url }}" aria-label="{{ entry.type }}"
        {% unless entry.noblank %}target="_blank" rel="noopener"{% endunless %}>
        <i class="{{ entry.icon }}"></i>
      </a>
      {% endif %}

    {% endfor %}

  </div> <!-- .sidebar-bottom -->

</div><!-- #sidebar -->
